@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,500,300);

*{
    font-family: 'Roboto';
}
body{
    display:flex;
    flex-direction: column;
    margin:0;
}

.first-section{
    background-color: #1F2937;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-content:flex-start;
    height: 45vh;
}

.Hero{
    display:flex;
    flex-direction: column;
    gap: 3rem;
}

.Hero .header .logo{
    color: #f9faf8;
    font-size: 24px;
    margin:0;
}

.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin:8px 0px;
}

.Hero .links{
    display:flex;
    flex-direction: row;
    gap: 1rem;
}
.Hero h1{
    font-size:48px;
    color:#f9faf8;
    font-weight: 900;
}
.Hero p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.main-text{
    display:block;
}
.main-text *{
    margin: 4px 0px;
}
.main-content{
    display:flex;
    flex-direction: row;
    gap: 1rem;
    margin:2px 0px;
}
.main-content div{
    flex: 1;
}
.main-image {
    display: flex;
}
.main-content img{
    background-color: gray;
    color: #f9faf8;
    flex:1;
}

.second-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 200px 40px 200px;
}

h2{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.illustration{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex:1;
    margin: 0 70px;
}
.illustration div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.illustration div img{
    border: 3px solid #3882f6;
    border-radius: 8px;
    padding: 80px;
}
.illustration div p{
    font-size: 18px;
    margin:0;
}

.third-section{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    
    margin: 100px 200px 100px 300px;
}
.third-section p{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin:0;
}
.quoter{
    display:flex;
    justify-content: flex-end;
}
.quoter p{
    margin-right: 40px;
}

.fourth-section{
    background-color: #3882f6;
    border-radius: 8px;
    display:flex;
    justify-content: space-around;
    margin: 100px 200px 50px 180px;

}
.fourth-section h3,
.fourth-section p{
    color: #f9faf8;;
}
.fourth-section h3{
    margin-top: 50px;
    margin-bottom: 0;
}
.fourth-section p {
    margin-top: 0;
    margin-bottom: 50px;
}

.button{
    display:flex;
    justify-content: center;
    align-items: center;
}
.button button{
    border-color: #f9faf8;
}
button{
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
    font-size: 18px;
    padding: 5px 30px;
}

footer{
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: center;
}

footer p{
    color: #f9faf8;
    margin: 40px 0;
    font-size: 18px;
}